<nav class="navbar navbar-default" style="height: 70px">
  <div class="container-fluid">
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/home" class="navbar-brand">
            <img
              src="https://www.ifastcorp.com/ifastcorp/images/ifast-corporation-logo.png"
              alt="iFast Global Bank"
              style="width: auto; height: 40px"
            />
          </a>
        </li>
        <li routerLinkActive="active">
          <a
            routerLink="/personal-account-opening"
            class="navbar-brand"
            style="margin-top: 10px"
          >
            Personal Account Opening
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
