<nav class="navbar navbar-default" style="height: 70px">
  <div class="container-fluid">
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/home" class="navbar-brand">
            <img
              src="https://londontechweek.imgix.net/uploads/73055917-95c2-46a0-b716-0ee302bf03f0-1685637229751.png?auto=compress&fit=max&dpr=2&w=138"
              alt="iFast Global Bank"
              style="width: auto; height: 40px"
            />
          </a>
        </li>
        <li routerLinkActive="active">
          <a
            routerLink="/personal-account-opening"
            class="navbar-brand"
            style="margin-top: 10px"
          >
            Personal Account Opening
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
