<h2>Let's get started to set up your personal digital bank account!</h2>
<div>Please complete each step before proceeding to the next step.</div>

<hr>

<form [formGroup]="parentForm" (ngSubmit)="onSubmit(f)" #f="ngForm" (keydown.enter)="$event.preventDefault()">

  <mat-vertical-stepper linear>

    <ng-container *ngFor="let step of steps; let i = index">
      <mat-step [completed]="isStepCompleted(parentForm.get(step.form))">
        <ng-template matStepLabel>Step {{ i+1 }}: {{ step.label }}</ng-template>

        <ng-container [ngSwitch]="step.form">
          <app-fatca-status *ngSwitchCase="'fatcaStatusForm'" [parentForm]="parentForm"></app-fatca-status>
          <app-personal-details *ngSwitchCase="'personalDetailsForm'" [parentForm]="parentForm"></app-personal-details>
          <app-financial-details *ngSwitchCase="'financialDetailsForm'" [parentForm]="parentForm"></app-financial-details>
          <app-reason-to-open *ngSwitchCase="'reasonToOpenForm'" [parentForm]="parentForm"></app-reason-to-open>
          <!-- Add additional cases for other steps if needed -->
        </ng-container>
        <hr>

        <div>
          <button mat-raised-button matStepperPrevious color="accent" *ngIf="i>=1" style="margin-right: 15px;">Back</button>
          <button mat-raised-button matStepperNext color="primary" [disabled]="!isStepCompleted(parentForm.get(step.form))">Save &
            Continue</button>
        </div>
      </mat-step>
    </ng-container>

    <mat-step [completed]="isStepCompleted(parentForm)">
      <ng-template matStepLabel>Step 5: Submit</ng-template>
      <hr>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </div>
    </mat-step>

  </mat-vertical-stepper>

</form>