<mat-form-field appearance="fill" style="width: 100%">
  <mat-label>{{ label }}</mat-label>
  <mat-select
    [formControl]="getControl()"
    (selectionChange)="onSelectionChange($event.value)"
  >
    <mat-option value="Yes">Yes</mat-option>
    <mat-option value="No">No</mat-option>
  </mat-select>
  <mat-error *ngIf="getControl().hasError('required')">
    *Please select yes or no.
  </mat-error>
  <mat-error *ngIf="getControl().hasError('isUS') && !getControl().hasError('required')">
    *Please note that U.S. indicia holders are not able to open an account.
  </mat-error>
</mat-form-field>
