<div [formGroup]="fatcaStatusForm">

    <h3>Do you possess any of the following U.S. indicia?</h3>

    <app-yes-no-selector 
        label="US citizenship/tax residency (e.g. US passport/Green Card holder, U.S. taxpayer, etc.)" 
        [control]="fatcaStatusForm.get('citizenship')"
        (selectionChange)="showAttention($event)">
    </app-yes-no-selector>

    <app-yes-no-selector 
        label="US place of birth" 
        [control]="fatcaStatusForm.get('birth')"
        (selectionChange)="showAttention($event)">
    </app-yes-no-selector>

    <app-yes-no-selector 
        label="US address (e.g. residential address, mailing address, P.O. box)" 
        [control]="fatcaStatusForm.get('address')"
        (selectionChange)="showAttention($event)">
    </app-yes-no-selector>

    <app-yes-no-selector 
        label="US telephone number" 
        [control]="fatcaStatusForm.get('telephone')"
        (selectionChange)="showAttention($event)">
    </app-yes-no-selector>

    <hr>

    <h3>Tax Residency</h3>

    <label for="tax">Are you a tax resident in any jurisdiction(s)?</label>
    <select id="tax" class="form-control" (change)="deleteAllTaxResidencies($event.target.value)" formControlName="tax">
        <option>Yes</option>
        <option>No</option>
    </select>
    <small [style.color]="'red'" *ngIf="fatcaStatusForm.get('tax').hasError('required')">
        * Please select.
    </small><br><br>

    <div formArrayName="taxResidencies" *ngIf="fatcaStatusForm.get('tax').value === 'Yes'">
        <div *ngFor="let taxResidency of taxResidencies.controls; let i = index" [formGroupName]="i">
            <div class="individual-tax">
                <h3 display="flex">
                    Tax Residency #{{ i + 1 }}
                    <button class="btn btn-danger" (click)="deleteTaxResidency(i)" *ngIf="i >= 1">
                        <i class="material-icons" style="font-size:20px">delete</i>
                    </button>
                </h3>
                
                <label for="jurisdiction">Jurisdiction of Residence for Tax Purposes</label>
                <select id="jurisdiction" class="form-control" formControlName="jurisdiction">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                <small [style.color]="'red'" *ngIf="taxResidency.get('jurisdiction').hasError('required')">
                    * Please select.
                </small><br><br>

                <label for="tin">Tax Identification Number</label>
                <input placeholder="Tax Identification Number" type="text" id="tin" class="form-control"
                    formControlName="tin">
                <small [style.color]="'red'" *ngIf="taxResidency.get('tin').hasError('required')">
                    * Please fill.
                </small><br><br>
            </div>
        </div>
        <button class="btn btn-primary" (click)="addTaxResidency()">+ Create another tax residency</button>
    </div>

</div>