<div [formGroup]="personalDetailsForm">

    <h3>Contact Information</h3>

    <mat-form-field style="width: 100%;">
        <mat-label>Email</mat-label>
        <div style="display: flex; align-items: center;">
            <input matInput disabled value="abc@gmail.com">
            <button class="btn btn-success">Verified</button>
        </div>
    </mat-form-field>

    <hr>
    <h3>Personal Information</h3>

    <app-dropdown-selector label="Title" [control]="personalDetailsForm.get('title')"
        [options]="['Mr.', 'Mrs.', 'Ms.', 'Dr.', 'Sir.', 'Mdm.', 'Prof']">
    </app-dropdown-selector>

    <app-character-input label="Last Name (Surname)" [control]="personalDetailsForm.get('lastname')"
        style="margin-left: 1%;">
    </app-character-input>

    <app-character-input label="First Name (Given Name)" [control]="personalDetailsForm.get('firstname')">
    </app-character-input>

    <app-character-input label="Middle Name (Optional)" [control]="personalDetailsForm.get('middlename')"
        hint="Middle name is optional." style="margin-left: 1%;">
    </app-character-input>

    <app-dropdown-selector label="Gender" [control]="personalDetailsForm.get('gender')" [options]="['Male', 'Female']">
    </app-dropdown-selector>

    <app-date-selector label="Date of Birth" [control]="personalDetailsForm.get('birthdate')" style="margin-left: 1%;">
    </app-date-selector>

    <hr>
    <h3>Residentail Information</h3>

    <app-text-input label="Residential Address" [control]="personalDetailsForm.get('residential')">
    </app-text-input>

    <app-character-input label="State/Province" [control]="personalDetailsForm.get('state')" style="margin-left: 1%;">
    </app-character-input>

    <app-number-input label="Postal/Zip Code" [control]="personalDetailsForm.get('postal')">
    </app-number-input>

    <app-country-selector label="Country" [control]="personalDetailsForm.get('country')" style="margin-left: 1%;">
    </app-country-selector>

    <app-dropdown-selector label="Residentail Status" [control]="personalDetailsForm.get('status')"
        [options]="['Living with Family', 'Mortgaged', 'Owned', 'Rented']">
    </app-dropdown-selector>

</div>