<mat-form-field appearance="fill" style="width: 49.5%">
  <mat-label>{{ label }}</mat-label>
  <input matInput [matDatepicker]="datepicker" [formControl]="getControl()" />
  <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
  <mat-datepicker #datepicker></mat-datepicker>
  <mat-error *ngIf="getControl().hasError('required')">
    *Please fill in a valid date.
  </mat-error>
  <mat-error *ngIf="getControl().hasError('ageTooYoung')">
    *Must be at least {{ getControl().getError("requiredAge") }} years old.
  </mat-error>
</mat-form-field>
