.welcome-section {
    background-color: rgb(0, 58, 139);
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.bank-benefits {
    margin-top: 20px;
    padding: 20px;
}

.cta-section {
    padding: 20px;
    text-align: center;
}

.check-mark {
    color: #28a745;
    margin-right: 5px;
}